*{
    padding: 0;
    margin: 0;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: #0F1720;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main{
  width: 300px;               
  height: 300px;
  border: 1px solid #E6EEF3;     
  box-sizing: border-box;
  font-size: 0;              
  padding: 0;
}

.inner{
  display: inline-block;
  width: 50%;                 
  height: 50%;                
  border: 1px solid #E6EEF3; 
  box-sizing: border-box;     
  vertical-align: top;
  opacity: 0.2;
  cursor: pointer;
}

.score{
    color: white;
    font-size: 21px;
    visibility: hidden;
}
.green{
    background-color: #059705;
}

.yellow{
    background-color: #e6e627;
}

.blue{
    background-color: #0051ff;
}

.red{
    background-color: #e92424;
}

.sub-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color:#E6EEF3;
}